# https://www.appveyor.com/docs/appveyor-yml/

version: "{build}"

clone_depth: 10

init:
  - git config --global core.autocrlf true

environment:
  matrix:
    - nodejs_version: 10
    - nodejs_version: 12
    - nodejs_version: 14

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

build: off

test_script:
  - node --version
  - npm --version
  - npm test

matrix:
  fast_finish: true

cache:
  - 'node_modules -> package.json' # local npm modules
