@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a, article, body, div, fieldset, form, h1, h2, h3, h4, h5, h6, input, label, li, nav, ol, p, section, span, textarea, ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0;
  padding-top: 0;
  margin-left: 0;
  margin-top: 0;
}

select {
  font-size: 16px;
}

template {
  display: none; /* IE<12 needs it */
}

noscript {
  color: hsl(0, 70%, 50%);
  display: block;
  font-weight: bold;
  padding: 2rem;
  text-align: center;
}

.logo__link {
  background: url(../img/logo.svg) no-repeat center 55%;
  display: block;
  height: 10rem;
  outline: none;
  overflow: hidden;
  text-indent: -999rem;
}

.content {
  line-height: 1.35rem;
  margin: 0 5% 5rem;
  width: 90%;
}

.drag-target {
  border: 5px dashed hsl(0, 0%, 90%);
  margin-bottom: 2rem;
  padding: 1rem;
  position: relative;
}

.dropped-files {
  list-style: none;
  min-height: 10rem;
}

.dropped-files:empty:before {
  content: attr(title);
  color: hsl(0, 0%, 15%);
  display: block;
  font-weight: bold;
  height: 10rem;
  line-height: 12rem;
  text-align: center;
  text-transform: uppercase;
}

.dropped-files__file {
  padding: 0.25rem 0.5rem;
}

.dropped-files__file:nth-child(2n) {
  background-color: hsl(0, 0%, 92%);
}

.dropped-files__file:nth-child(2n + 1) {
  background-color: hsl(0, 0%, 98%);
}

.dropped-files__file:not(.dropped-files__file--optimized) {
  position: relative;
}

.dropped-files__file:not(.dropped-files__file--optimized):after {
  animation: rotate 1.25s linear infinite;
  background: url(../img/spinner.svg) center center / 1.25rem 1.25rem no-repeat;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  right: 0.25rem;
  top: 0;
  width: 1.5rem;
}

.dropped-files__file:not(.dropped-files__file--optimized) > .dropped-files__file__action {
  display: none;
}

.dropped-files__file__summary {
  color: hsl(0, 0%, 45%);
  font-style: italic;
}

.dropped-files__file__action {
  display: inline-block;
  float: right;
  margin-left: 0.5rem;
}

.settings {
  border-top: 3px solid transparent;
  cursor: pointer;
  position: relative;
}

.settings:not(.settings--collapsed) {
  border-top-color: hsl(0, 0%, 90%);
  margin-top: 2.5rem;
  padding-top: 0.5rem;
}

.settings:before {
  background: url(../img/gear-highlighted.svg) center center no-repeat;
  content: " ";
  display: block;
  height: 1.5rem;
  right: 0;
  position: absolute;
  top: -1rem;
  width: 1.5rem;
}

.settings:not(.settings--collapsed):before {
  top: -2.5rem;
}

.settings--collapsed {
  height: 0;
}

.settings--collapsed:before {
  background-image: url(../img/gear.svg);
}

.settings--collapsed > .settings__group {
  display: none;
}

.settings__group {
  border: none;
}

.settings__group {
  padding: 0.25rem 0 0.25rem 0.75rem;
}

.settings__group:not(:last-child) {
  border-left: 0.25rem solid hsl(198, 76%, 52%);
  margin-bottom: 0.5rem;
}

.settings__group__wrapper:not(:last-child) {
  margin-bottom: 0.25rem;
}

.settings__option--version {
  width: 100%;
}

.settings__option--checkbox {
  vertical-align: 1px;
}

.settings__option--checkbox:disabled + .settings__label {
  color: hsl(0, 0%, 40%);
}

.fine-grained-options {
  border-left: 0.25rem solid hsl(198, 16%, 52%);
  display: block;
  list-style: none;
  padding-left: 0.75rem;
}

.fine-grained-options--hidden {
  display: none;
}

.fine-grained-options__option {
  margin-bottom: 0.125rem;
}

.settings__option--number {
  text-align: center;
  width: 2.5rem;
}

.settings__option--select {
  width: 100%;
}

.settings__option--reset {
  background: transparent;
  border: 1px solid hsl(0, 0%, 80%);
  float: right;
  padding: 0.5rem 1rem;
}

.clipboard-copy {
  border: none;
  height: 2rem;
  position: fixed;
  right: -2rem;
  top: 0;
  width: 2rem;
}

.footer {
  text-align: center;
  margin-bottom: 2rem;
}

.footer__heart {
  color: hsl(0, 100%, 45%);
}
