.zocial.acrobat:before {content: "\00E3"; color: #FB0000;}
.zocial.amazon:before {content: "a";}
.zocial.android:before {content: "&";}
.zocial.angellist:before {content: "\00D6";}
.zocial.aol:before {content: "\"";}
.zocial.appnet:before {content: "\00E1";}
.zocial.appstore:before {content: "A";}
